<% title "Direct messages from #{@name}" %>
<%= link_to "refresh page", :controller => :direct_messages, :action => :refr, :id => params[:id] %><br /><br />

  <% if !@direct_messages.empty? %>
   <%- form_tag :controller => :direct_messages, :action => :create, :method => :post do -%>
         
          <%= hidden_field_tag 'id', params[:id] %>
          <label for="text">Send <%= @name %> a direct message</label><br />
          <%= text_area_tag 'text' %><br />
          <%= submit_tag 'Send' %>
    <%- end -%>
    <br />
    <% @direct_messages.each do |@msg| %>
        <%= render :partial => 'statuses/tweet', :object => @msg %>
    <% end %>
  <% else %>
    У вас нет сообщений от такого пользователя
  <% end %>
<br />
<%= link_to "back", direct_messages_url %><br />