<% title "Direct messages from #{@name}" %>
<%= link_to "refresh page", :controller => :direct_messages, :action => :refr, :id => params[:id] %><br /><br />

  <% if !@direct_messages.empty? %>
   <%- form_tag :controller => :direct_messages, :action => :create, :method => :post do -%>
         
          <%= hidden_field_tag 'id', params[:id] %>
          <label for="text">Send <%= @name %> a message</label><br />
          <%= text_area_tag 'text' %><br />
          <%= submit_tag 'Send' %>
    <%- end -%>
    <br />
    <% @direct_messages[@name].each do |msg| %>
      <div <% if client.user.screen_name != msg.recipient_screen_name %> style="text-align: right;" <% end %>>
        <%= msg.sender.screen_name %>: <%= msg.text %> <%= link_to "delete", :action => :destroy, :id => params[:id], :msg_id => msg.id %></div>
    <% end %>
  <% else %>
    У вас нет сообщений от такого пользователя
  <% end %>
<br />
<%= link_to "back", direct_messages_url %><br />